In [11]:
import numpy as np
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt

In [5]:
#Create the probability tables of Zippy Bright Sales for every combination of sales between:

#XP219 and Whitener
    
#Floss and Whitener

df = pd.read_csv("ZippyBrightSales.csv", header = 1, usecols = [0,1,2,3])

In [23]:
df = df.dropna(how = "all")

In [111]:
df.head()

   Week #  XP219  Floss  Whitener
0     1.0    1.0    1.0       4.0
1     2.0    5.0    5.0       5.0
2     3.0    3.0    3.0       3.0
3     4.0    2.0    2.0       3.0
4     5.0    3.0    3.0       2.0

In [143]:
#size() return the number of rows in each group, reset_index repeat the row labels, rename change the column 0 which is the size()
#into 'Count'
xpwhitener = df.groupby(['XP219','Whitener']).size().reset_index().rename(columns={0:'Count'})
flosswhitener = df.groupby(['Floss','Whitener']).size().reset_index().rename(columns={0:'Count'})

In [144]:
xpwhitener

    XP219  Whitener  Count
0     1.0       4.0      1
1     1.0       5.0      6
2     2.0       3.0      4
3     2.0       5.0      7
4     3.0       1.0      2
5     3.0       2.0      2
6     3.0       3.0      1
7     3.0       4.0      3
8     3.0       5.0      7
9     4.0       0.0      2
10    4.0       1.0      2
11    4.0       3.0      1
12    4.0       5.0      6
13    5.0       0.0      1
14    5.0       3.0      4
15    5.0       5.0      1

In [145]:
flosswhitener

    Floss  Whitener  Count
0     0.0       5.0      2
1     1.0       3.0      2
2     1.0       4.0      1
3     1.0       5.0      7
4     2.0       1.0      1
5     2.0       2.0      1
6     2.0       3.0      2
7     2.0       4.0      2
8     2.0       5.0      8
9     3.0       0.0      2
10    3.0       1.0      2
11    3.0       2.0      1
12    3.0       3.0      4
13    3.0       4.0      1
14    3.0       5.0      8
15    4.0       0.0      1
16    4.0       1.0      1
17    4.0       3.0      1
18    4.0       5.0      1
19    5.0       3.0      1
20    5.0       5.0      1

In [149]:
#What is the probability that 4 units of XP219 and 1 unit of Whitener are sold?
xpwhitener[(xpwhitener['XP219'] == 4) & (xpwhitener['Whitener'] == 1)]['Count'] / xpwhitener['Count'].sum()

10    0.04
Name: Count, dtype: float64

In [150]:
#What is the probability that 3 units of Floss and 5 units of Whitener are sold?
flosswhitener[(flosswhitener['Floss'] == 3) & (flosswhitener['Whitener'] == 5)]['Count'] / flosswhitener['Count'].sum()

14    0.16
Name: Count, dtype: float64

In [156]:
#What is the correlation between Floss and Whitener?
df.corr()

            Week #     XP219     Floss  Whitener
Week #    1.000000  0.018237 -0.084843  0.109316
XP219     0.018237  1.000000  0.886126 -0.397393
Floss    -0.084843  0.886126  1.000000 -0.346166
Whitener  0.109316 -0.397393 -0.346166  1.000000

In [160]:
#What is the covariance (population) between XP219 and Whitener?

#ddof = 0 means it is population covariance, default is sample
np.cov(df['XP219'], df['Whitener'],ddof = 0)

array([[ 1.4784, -0.7688],
       [-0.7688,  2.5316]])

In [162]:
profit = pd.DataFrame({'Sales': [1221,1509,1487,1321,1696,907,1098,1215,1802,1345,1301,987]})

In [164]:
profit['Profit'] = profit['Sales']*17.5 - 19000

In [167]:
profit['Profit'].var()

21984989.157196973

In [178]:
sales = pd.DataFrame({'Year': [2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015], \
                     'WinterArrivalDay': [320,324,340,314,322,342,302,317,338,326],\
                     'SeasonalSales(Euros)': [120342,114397,102328,134786,132034,98078,138965,136753,114566,128435]})

In [186]:
np.cov(sales['WinterArrivalDay'],sales['SeasonalSales(Euros)'],ddof=0)[0][1]

-145469.30000000002

In [185]:
sales.corr()

                          Year  WinterArrivalDay  SeasonalSales(Euros)
Year                  1.000000          0.030565              0.284852
WinterArrivalDay      0.030565          1.000000             -0.885625
SeasonalSales(Euros)  0.284852         -0.885625              1.000000

In [243]:
df = pd.read_csv("DuffyInudstries_RawData.csv",index_col = 0, usecols = [0,1,2,3,4,5,6])

In [193]:
df.describe()

               CPL        Dist     LdTime     TrlLng            Wgt
count   100.000000   100.00000  100.00000  100.000000    100.000000
mean   3131.600000  1207.18000    5.87000   51.250000  26708.180000
std     655.358519   386.84242    3.96106    2.396862   7069.840196
min    1660.000000   502.00000    0.00000   48.000000  15100.000000
25%    2631.750000   904.00000    2.75000   48.000000  21220.750000
50%    3166.000000  1273.00000    6.00000   53.000000  26513.500000
75%    3701.250000  1538.25000    9.00000   53.000000  32276.000000
max    4301.000000  1793.00000   13.00000   53.000000  39931.000000

In [194]:
df.corr()

               CPL      Dist    LdTime   TrlLng        Wgt
CPL       1.000000  0.904213 -0.093314  0.141567  0.075855
Dist      0.904213  1.000000  0.004663  0.174593  0.119109
LdTime   -0.093314  0.004663  1.000000 -0.040163  0.066092
 TrlLng   0.141567  0.174593 -0.040163  1.000000  0.006412
Wgt       0.075855  0.119109  0.066092  0.006412  1.000000

In [202]:
#Using the data for Duffy Industrials, create the model where CPL=f(Dist) = b0 + b1*(Dist)

from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
import statsmodels.api as sm

In [227]:
x = df['Dist']
y = df['CPL']
X = sm.add_constant(x)
model = sm.OLS(y,X)
est = model.fit()
print(est.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    CPL   R-squared:                       0.818
Model:                            OLS   Adj. R-squared:                  0.816
Method:                 Least Squares   F-statistic:                     439.3
Date:                Fri, 22 May 2020   Prob (F-statistic):           5.47e-38
Time:                        15:11:26   Log-Likelihood:                -704.83
No. Observations:                 100   AIC:                             1414.
Df Residuals:                      98   BIC:                             1419.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       1282.3839     92.606     13.848      0.000    1098.610    1466.157
Dist           1.5318      0.073     20.959      0.000       1.387       1.677
==============================================================================
Omnibus:                        7.513   Durbin-Watson:                   2.020
Prob(Omnibus):                  0.023   Jarque-Bera (JB):                3.580
Skew:                           0.204   Prob(JB):                        0.167
Kurtosis:                       2.168   Cond. No.                     4.17e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.17e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [216]:
#Using this model, what is the estimated cost of a 1000 mile shipment?
1282.3839 + 1.5318*1000

2814.1839

In [217]:
#Using this model, what is the estimated cost of a 250 mile shipment?
#You probably got a) correct at 2,814 dollars and got b) wrong! And you are probably 
#upset and confused because 1282 + 1.532(250) = 1665, which is what you probably calculated. 
#The answer is not actually 0, either. The correct answer is that you should not use the 
#estimation equation for values that fall out of the observed range of values. Notice that 
#the data for the distance ranged between 500 and 1800 miles. This means, it is not really 
#valid for use on shorter lengths of haul below 500 miles! Yes, this was tricky, but I hope you got the point! 
#Be sure you understand the assumptions of the model prior to just plugging in numbers!

In [228]:
#linear regression with more than 1 variable
x = df[['Dist','Wgt']]
y = df['CPL']
X = sm.add_constant(x)
model = sm.OLS(y,X)
est = model.fit()
print(est.summary())
# good p value usually is less than 0.1, 0.05, or 0.01, be careful if the confidence interval crosses 0 as can be seen on Wgt
# ,especially if the coef is close to 0, it may be that the Wgt coefficient is not significant

                            OLS Regression Results
==============================================================================
Dep. Variable:                    CPL   R-squared:                       0.819
Model:                            OLS   Adj. R-squared:                  0.815
Method:                 Least Squares   F-statistic:                     218.9
Date:                Fri, 22 May 2020   Prob (F-statistic):           1.10e-36
Time:                        15:12:14   Log-Likelihood:                -704.55
No. Observations:                 100   AIC:                             1415.
Df Residuals:                      97   BIC:                             1423.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       1354.4908    134.410     10.077      0.000    1087.724    1621.258
Dist           1.5384      0.074     20.850      0.000       1.392       1.685
Wgt           -0.0030      0.004     -0.742      0.460      -0.011       0.005
==============================================================================
Omnibus:                       10.932   Durbin-Watson:                   2.036
Prob(Omnibus):                  0.004   Jarque-Bera (JB):                4.260
Skew:                           0.203   Prob(JB):                        0.119
Kurtosis:                       2.074   Cond. No.                     1.32e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.32e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

In [234]:
#Suppose you think that the cost is a function of both distance and weight - but multiplicative rather than additive. 
#Create a new regression where CPL = f(DistWgt), where DistWgt = Dist * Weight.

df['DstWgt'] = df['Dist'] * df['Wgt']
x = df['DstWgt']
y = df['CPL']
X = sm.add_constant(x)
model = sm.OLS(y,X)
est = model.fit()
print(est.summary())

#What is the adjusted coefficient of determination of this new model (call it 2a)?.
#(b) What is the p-value of the DistWgt coefficient?

                            OLS Regression Results
==============================================================================
Dep. Variable:                    CPL   R-squared:                       0.467
Model:                            OLS   Adj. R-squared:                  0.462
Method:                 Least Squares   F-statistic:                     86.03
Date:                Fri, 22 May 2020   Prob (F-statistic):           4.53e-15
Time:                        15:46:02   Log-Likelihood:                -758.40
No. Observations:                 100   AIC:                             1521.
Df Residuals:                      98   BIC:                             1526.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       2131.4138    118.062     18.053      0.000    1897.124    2365.703
DstWgt      3.071e-05   3.31e-06      9.275      0.000    2.41e-05    3.73e-05
==============================================================================
Omnibus:                        1.951   Durbin-Watson:                   1.773
Prob(Omnibus):                  0.377   Jarque-Bera (JB):                1.989
Skew:                           0.307   Prob(JB):                        0.370
Kurtosis:                       2.684   Cond. No.                     8.76e+07
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 8.76e+07. This might indicate that there are
strong multicollinearity or other numerical problems.

In [244]:
#Suppose you want to test the impact of having a longer lead time. 
#You think that providing the carriers a week or more notice will lead to lower rates. How would we test for this? 
#Lets try a model where CPL = f(Dist, WeekLead) where WeekLead = 1 if ldTime>= 7 days, and = 0 o.w. 

#first we have to create the WeekLead column which consist of those binary values
df.loc[df['LdTime'] >= 7, 'WeekLead'] = 1
df.loc[df['LdTime'] < 7, 'WeekLead'] = 0

In [245]:
df.head()

     CPL  Dist  LdTime   TrlLng     Wgt Equpt  WeekLead
ID
1   3692  1579       1        53  20559   DRY       0.0
2   3279  1298      12        48  17025   REF       1.0
3   3120  1382      11        48  26735   DRY       1.0
4   3205  1033       1        53  26175   DRY       0.0
5   3188  1320       3        53  17994   DRY       0.0

In [246]:
x = df[['Dist','WeekLead']]
y = df['CPL']
X = sm.add_constant(x)
model = sm.OLS(y,X)
est = model.fit()
print(est.summary())
#What is the adjusted coefficient of determination of this new model?
#What is the p-value of the WeekLead coefficient?

                            OLS Regression Results
==============================================================================
Dep. Variable:                    CPL   R-squared:                       0.823
Model:                            OLS   Adj. R-squared:                  0.820
Method:                 Least Squares   F-statistic:                     226.3
Date:                Fri, 22 May 2020   Prob (F-statistic):           2.94e-37
Time:                        15:52:39   Log-Likelihood:                -703.19
No. Observations:                 100   AIC:                             1412.
Df Residuals:                      97   BIC:                             1420.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       1337.7878     96.608     13.848      0.000    1146.047    1529.529
Dist           1.5213      0.073     20.983      0.000       1.377       1.665
WeekLead    -101.7117     56.542     -1.799      0.075    -213.932      10.508
==============================================================================
Omnibus:                       10.933   Durbin-Watson:                   1.973
Prob(Omnibus):                  0.004   Jarque-Bera (JB):                4.439
Skew:                           0.233   Prob(JB):                        0.109
Kurtosis:                       2.079   Cond. No.                     4.51e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.51e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [247]:
#Let's take a look at Model 1 below and test it for the assumption that the residuals are ~N(0, sigma). 
#Run the model and calculate the residuals (the software package will probably just give you this.).

df = pd.read_csv("DuffyInudstries_RawData.csv",index_col = 0, usecols = [0,1,2,3,4,5,6])
df.head()

     CPL  Dist  LdTime   TrlLng     Wgt Equpt
ID
1   3692  1579       1        53  20559   DRY
2   3279  1298      12        48  17025   REF
3   3120  1382      11        48  26735   DRY
4   3205  1033       1        53  26175   DRY
5   3188  1320       3        53  17994   DRY

In [262]:
x = df['Dist']
y = df['CPL']
X = sm.add_constant(x)
model = sm.OLS(y,X)
est = model.fit()

#What is the average or mean of the residuals from Model 1?
#see https://www.statsmodels.org/stable/generated/statsmodels.regression.linear_model.OLSResults.html#statsmodels.regression.linear_model.OLSResults
#for reference
est.resid.mean()

-5.729816621169448e-13

In [263]:
#What is the population standard deviation of the residuals from Model 1?
est.resid.std()

279.8915896090775

In [297]:
#As of now, there are two main variables that influence the overall distance traveled (Z) 
#by each car given one full battery charge: the battery type and the amount of sunlight 
#during a test run. Data has been collected from the many tests conducted on the cars. 
#You have been assigned to establish the relationships among these variables 
#and to predict how the distance traveled will change as the different variables change.

#Regress the amount of sunlight and battery type against distance traveled using battery 
#type as a class (also known as dummy or categorical) variable.
#This means that distance travelled is your dependent (y) variable.

cardata = pd.read_csv("racecardata.csv", header = 1, usecols = [0,1,2])
cardata.head()

   Sunlight BatteryType  Distance
0      31.0       Type0      306.96
1      44.0       Type0      307.34
2      37.0       Type0      270.40
3      36.0       Type0      249.94
4      23.0       Type0      138.83

In [298]:
cardata.columns = ['Sunlight', 'BatteryType', 'Dist']
cardata.loc[cardata['BatteryType'] == 'Type0', 'ispolymer'] = 1
cardata.loc[cardata['BatteryType'] == 'Type1', 'ispolymer'] = 0
cardata = cardata.dropna(how = 'all')

In [299]:
cardata.head()

   Sunlight BatteryType    Dist  ispolymer
0      31.0       Type0  306.96        1.0
1      44.0       Type0  307.34        1.0
2      37.0       Type0  270.40        1.0
3      36.0       Type0  249.94        1.0
4      23.0       Type0  138.83        1.0

In [300]:
x = cardata[['Sunlight','ispolymer']]
y = cardata['Dist']
X = sm.add_constant(x)
model = sm.OLS(y,X)
est = model.fit()
print(est.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   Dist   R-squared:                       0.621
Model:                            OLS   Adj. R-squared:                  0.608
Method:                 Least Squares   F-statistic:                     50.73
Date:                Fri, 22 May 2020   Prob (F-statistic):           8.88e-14
Time:                        19:27:30   Log-Likelihood:                -358.67
No. Observations:                  65   AIC:                             723.3
Df Residuals:                      62   BIC:                             729.9
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        156.5683     28.173      5.557      0.000     100.250     212.886
Sunlight       5.4808      0.576      9.509      0.000       4.329       6.633
ispolymer    -48.6609     15.360     -3.168      0.002     -79.364     -17.957
==============================================================================
Omnibus:                        6.429   Durbin-Watson:                   2.162
Prob(Omnibus):                  0.040   Jarque-Bera (JB):                5.597
Skew:                           0.675   Prob(JB):                       0.0609
Kurtosis:                       3.496   Cond. No.                         174.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [305]:
sunlight = 57
ispolymer = 1

equation = 156.5683 + 5.4808*sunlight -48.6609*ispolymer
print(equation)

420.313

In [306]:
#Fresh!Now! is a chain of grocery stores in the United States with 1271 grocery stores in total, 
#some of which also sell bakery goods and freshly made food-to-go. Fresh!Now!s goal is to provide 
#good quality fresh vegetables at affordable prices. However, given the existing market of organic 
#food supplies, Fresh!Now! is facing tremendous competition. They realize that Fresh!Now! has to 
#make their stores more attractive to customers.

#In 19 stores across Massachusetts and New York, they have implemented a new concept to present the 
#vegetables in the stores and have collected information of the average daily profit of leafy 
#vegetables (in dollar) per customer per store (see table below). Janine, the head of the analytics 
#department at Fresh!Now!, has tasked you with developing an anlaysis to better understand if the 
#new concept has any effect.

store = pd.DataFrame({'Store':['MA 1','MA 2','MA 3','MA 4','MA 5','MA 6','MA 7','MA 8','MA 9','NY 1','NY 2',\
                              'NY 3','NY 4','NY 5','NY 6','NY 7','NY 8','NY 9','NY 10'],\
                     'Profit/cust':[15.81,17.33,11.04,13.49,14.07,16.16,17.18,14.94,12.6,15.49,15.75,15.33,16.28,14.75,17.97\
                                    ,14.31,15.21,10.79,16.68]})

In [308]:
len(store)

19

In [324]:
#Your first task it to create a 95% confidence interval for the mean of the 
#dataset using the sample collected from Massachusetts and New York.

#since len is less than 30 we will use t distribution
dof = len(store['Profit/cust']) - 1
loc = store['Profit/cust'].mean()
scale = store['Profit/cust'].std()/np.sqrt(len(store['Profit/cust']))
storedist = stats.t(dof,loc,scale)

In [312]:
#What is the upper limit of this confidence interval?
storedist.ppf(0.975)

15.955001182218234

In [313]:
#What is the lower limit of this confidence interval?
storedist.ppf(0.025)

14.063946186202825

In [314]:
storedist.ppf(0.95)

15.789895228630733

In [316]:
#To understand if the new concept has taken effect, you want to conduct a hypothesis test. 
#Average daily profit per customer per store for the leafy vegetables in all other 
#Fresh!Now! grocery stores is 13.9.

#You formulate the following hypothesis test:

#H0: Average daily profit at Fresh!Now! in the New York/Massachusetts stores is not 
    higher than the average daily profit of all other Fresh!Now! grocery stores at a confidence level of 95%.

#H1: Average daily profit at Fresh!Now! in the New York/Massachusetts stores is higher 
    than the average daily profit of all other Fresh!Now! grocery stores at a confidence level of 95%.

#Calculate the p-value for the hypothesis test above.
storedist.cdf(13.9)

0.01198883262766141

In [317]:
#lower limit for confidence interval = at 5% because this is a one tailed test
storedist.ppf(0.05)

#since 13.9 is less than the lower limit, we can reject the null hypothesis (H0)

14.229052139790326

In [332]:
#Calculate the test-statistic for the hypothesis test above.
(store['Profit/cust'].mean() - 13.9)/(store['Profit/cust'].std()/np.sqrt(len(store['Profit/cust'])))

2.465203519872934

In [337]:
#You are working with the marketing team for a FMCG firm that produces shaving cream. 
#The team believes that sales of some of the products are closely related to sales of 
#other products. They want you to explore this in a little more depth for two products, 
#SKU 123 and SKU 456. Unfortunately, all of the base sales data 
#for these products has been destroyed. All that you have is the weekly summary data:

#Data
#        Mean    Standard Deviation
#SKU123  836         104
#SKU456  930         269

#The marketing team believes the correlation of these items is 0.81.
#What would the covariance need to be for the marketing team to be correct?

corr = 0.81
stdx = 104
stdy = 269
meanx = 836
meany = 930
cov = corr*(stdx*stdy)
print(cov)

22660.56

In [341]:
#Now the marketing team wants to understand the potential weekly sales for these two products. 
#Let the sales price for the two SKUs be 12.50, 7.75, respectively.

#What is the expected weekly revenue?

a = 12.5
b = 7.75
weeklymean = meanx*a + meany*b
print(weeklymean)

17657.5

In [342]:
#What is the standard deviation of the weekly revenue?
weeklystd = np.sqrt(a**2 * stdx**2 + b**2 * stdy**2 + 2*a*b*stdx*stdy*corr)
print(weeklystd)

3229.0348499977513

In [343]:
#Assuming the joint distribution is normal, and the marketing teams correlation of 0.81 is correct. 
#What is the probability that weekly sales will be between 10,000 and 20,000 dollars?

stats.norm(weeklymean,weeklystd).cdf(20000) - stats.norm(weeklymean,weeklystd).cdf(10000)

0.7570524968354251

In [348]:
#In its latest press release, Pill International announced that they are working on a new drug 
#that would stunt the deterioration of brain cells in Alzheimer's patients. If successful, the 
#drug could prolong the life of patients and allow them to retain their basic mobility.

#The R&D team is currently testing the drug, which comes in the form of a digestible tablet, for 
#its ability to be dissolved and absorbed in the bloodstream. Based on their latest experiments, 
#they have learned that there is a relationship between the amount of time that the tablet's powder 
#spends in the tray dryer and the amount of time it takes to get dissolved (Y). As a member of 
#this research team, you have been asked to establish the relationship between 
#the two variables and to predict potential dissolution times based on the time spent in the dryer.


drug = pd.read_csv("drug.csv", header = 0, usecols = [0,1])

In [350]:
drug = drug.dropna(how = "all")

In [352]:
drug.head(10)

   Timeindryer  Dissolutiontime
0         59.0           612.75
1         32.0           309.17
2         38.0           407.29
3         59.0           576.47
4         63.0           509.90
5         30.0           298.61
6         67.0           685.48
7         38.0           496.63
8         40.0           357.26
9         56.0           553.16

In [361]:
#What is your intercept estimate for this model? --> in summary see const coef
#What is your parameter estimate for this model? --> in summary see Timeindryer coef
#What is the p-value for your dryer time estimate? --> in summary see Timeindryer P>|t| 
x = drug['Timeindryer']
y = drug['Dissolutiontime']
X = sm.add_constant(x)
model = sm.OLS(y,X)
est = model.fit()
print(est.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:        Dissolutiontime   R-squared:                       0.749
Model:                            OLS   Adj. R-squared:                  0.743
Method:                 Least Squares   F-statistic:                     143.0
Date:                Fri, 22 May 2020   Prob (F-statistic):           5.29e-16
Time:                        21:32:18   Log-Likelihood:                -284.41
No. Observations:                  50   AIC:                             572.8
Df Residuals:                      48   BIC:                             576.6
Df Model:                           1
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const          68.4724     30.663      2.233      0.030       6.820     130.125
Timeindryer     8.1327      0.680     11.958      0.000       6.765       9.500
==============================================================================
Omnibus:                        1.159   Durbin-Watson:                   1.764
Prob(Omnibus):                  0.560   Jarque-Bera (JB):                0.620
Skew:                          -0.258   Prob(JB):                        0.733
Kurtosis:                       3.176   Cond. No.                         134.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [354]:
#If you want to set dryer time to 34 seconds, what would you expect the dissolution time to be (in seconds)?
68.4724 + 8.1327*34

344.9842